.navbar{
    background-color: #2a4c59;
    
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    overflow: auto;
}

.navbar ul h2{
color: white;
margin: 2px;
padding: 5px;
}

.navbar li{
    float:left;
    list-style: none; 
    margin: 13px 20px;
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: red
}